* {
    border: 0;
    margin: 0;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    background: #f9f7ec;
    color: #333333;
}

header {
    text-align: center;
    margin: 10px;
    color: black;
    letter-spacing: 0.05em;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
}

section {
    margin: 25px;
}

table {
    position: fixed;
    border: 3px solid black;
    background: white;
}

.stat-heading {
    border: 2px solid black;
    background: white;
    width: 60px;
}

.stat-cell {
    border: 2px solid black;
    background: white;
    height: 70px;
    width: 60px;
}

#stat-headings {
    text-align: center;
    background: white;
}

#d20-button {
    width: 120px;
    border: 2px solid black;
    border-radius: 10%;
    background: white;
}

#d20-img {
    width: 100px;
    background: white;
}