* {
    border: 0;
    margin: 0;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    background: #f9f7ec;
    color: #333333;
}

header {
    text-align: center;
    margin: 10px;
    color: black;
    letter-spacing: 0.05em;
}

footer {
    text-align: center;
    bottom: 10px;
}

section {
    margin: 25px;
}

table {
    border: 3px solid black;
    background: white;
}

div {
    margin-top: 10px;
}

.stat-heading {
    border: 2px solid black;
    background: white;
    width: 60px;
}

.stat-cell {
    text-align: center;
    font-size: 3em;
    border: 2px solid black;
    background: white;
    height: 70px;
    width: 60px;
}

.hidden {
    visibility: hidden;
}

#stat-headings {
    text-align: center;
    background: white;
}

#d20-button {
    width: 120px;
    border: 2px solid black;
    border-radius: 10%;
    background: white;
}

#d20-img {
    width: 100px;
    background: white;
}

#class-image-div {
    height: 50px;
}

#class-image {
    height: 40px;
}